<!-- start area begin -->
<section class="container" style="min-height: 580px; margin-bottom: 40px;">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-5">
      <div class="py-5">
        <h1 class="ant-typography">OCR Legal Documents</h1>
        <p>
          📃 Bộ nhận diện các văn bản hành chính. Hỗ trợ việc phân loại các văn bản theo Tiêu đề, Vị trí, Độ bảo
          mật,...
        </p>
        <a class="ant-btn ant-btn-primary ant-btn-lg shadow-lg" href="/models/orc#demo-it">Dùng thử</a>
      </div>
    </div>
    <div class="col-lg-7 pt-4">
      <img src="/assets/images/orc_main.svg" style="width: 100%;">
    </div>
  </div>
</section>
<!-- start area end -->

<!-- demo begin -->
<section id="demo-it" class="container pt-2">
  <div>
    <h1 class="ant-typography">Chạy thử ngay</h1>
  </div>
  <div class="row">
    <div class="col-lg-6 py-2">
      <nz-card style="width: 100%; height: 100%; margin-top: 1em;">
        <h2 nz-typography>Đầu vào</h2>
        <div class="clearfix">
          <nz-upload nzAction="{{apiUrl}}" (nzChange)="upload($event)" [nzLimit]="1"
            [nzShowUploadList]="{ showPreviewIcon: true, showRemoveIcon: false, showDownloadIcon: false }"
            [nzFileList]="fileList" [nzFileType]="'application/pdf'">
            <button nz-tooltip nzTooltipTitle="PDF require" nz-button nzType="dashed" nzBlock
              [disabled]="loading">Tải lên</button>
          </nz-upload>
        </div>
        <div class="ant-card-meta-description mt-2">Hoặc xem ví dụ của chúng tôi</div>
        <div class="d-flex justify-content-left" style="padding-left: 1px;">
          <div class="sample-demo-block" *ngFor="let sample of demo_samples" (click)="imageClickHandle(sample)">
            <img src="{{sample.thumnail}}">
            <div class="overlay" [(class.active)]="sample.active"></div>
          </div>
        </div>
        <div class="image-view">
          <pdf-viewer *ngIf="previewSrc" [src]="previewSrc" [original-size]="false" [zoom-scale]="'page-width'">
          </pdf-viewer>
        </div>
      </nz-card>

    </div>
    <div class="col-lg-6 py-2">
      <div class="ant-card ant-card-bordered" style="width: 100%; height: 100%; margin-top: 1em;">
        <div class="ant-card-body">
          <h2 nz-typography>Đầu ra</h2>
        </div>
        <nz-table style="height: 100%;" [nzLoading]="loading" nzFrontPagination="false" #basicTable
          [nzData]="listOfData">
          <thead>
            <tr>
              <th>Tên</th>
              <th>Nội dung</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ data.name }}</td>
              <td>{{ data.value }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</section>
<!-- demo end -->
