<!-- start area begin -->
<section class="container" style="min-height: 580px; margin-bottom: 40px;">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-5">
      <div class="py-5">
        <h1 class="ant-typography">ORC Legal Documents</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat.
        </p>
        <a class="ant-btn ant-btn-primary ant-btn-lg shadow-lg" href="#demo-it">Try Demo</a>
      </div>
    </div>
    <div class="col-lg-7 pt-4">
      <img src="/assets/images/orc_main.svg" style="width: 100%;">
    </div>
  </div>
</section>
<!-- start area end -->

<!-- demo begin -->
<section id="demo-it" class="container">
  <div>
    <h1 class="ant-typography">Try it now</h1>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <nz-card style="width: 100%; height: 100%; margin-top: 1em;">
        <h2 nz-typography>INPUT</h2>
        <div class="clearfix">
          <nz-upload nz-tooltip nzTooltipTitle="PDF require" nzAction="{{apiUrl}}" (nzChange)="upload($event)" [nzLimit]="1"
            [nzShowUploadList]="{ showPreviewIcon: true, showRemoveIcon: false, showDownloadIcon: false }"
            [nzFileList]="fileList" [nzFileType]="'application/pdf'">
            <button nz-button nzType="dashed" nzBlock>Upload</button>
          </nz-upload>
        </div>
        <div class="ant-card-meta-description mt-2">Or add image URL</div>
        <nz-input-group [nzSuffix]="inputClearTpl">
          <input type="text" nz-input [(ngModel)]="inputValue" placeholder="input with clear icon" />
        </nz-input-group>
        <ng-template #inputClearTpl>
          <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="inputValue"
            (click)="inputValue = null"></i>
        </ng-template>
        <div class="ant-card-meta-description mt-2">Use our example</div>
        <div class="d-flex justify-content-left">
          <div class="sample-demo-block--first"></div>
          <div class="sample-demo-block"></div>
          <div class="sample-demo-block"></div>
        </div>
        <div class="image-view">
          <pdf-viewer *ngIf="previewSrc" [src]="previewSrc" [original-size]="false" [zoom-scale]="'page-width'">
          </pdf-viewer>
        </div>
      </nz-card>

    </div>
    <div class="col-lg-6">
      <div class="ant-card ant-card-bordered" style="width: 100%; height: 100%; margin-top: 1em;">
        <div class="ant-card-body">
          <h2 nz-typography>OUTPUT</h2>
        </div>
        <nz-table style="height: 100%;" [nzLoading]="loading" nzFrontPagination="false" #basicTable
          [nzData]="listOfData">
          <thead>
            <tr>
              <th>Name</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ data.name }}</td>
              <td>{{ data.value }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</section>
<!-- demo end -->
