<!-- start area begin -->
<section class="container" style="min-height: 580px; margin-bottom: 40px;">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-5">
      <div class="py-5">
        <h1 class="ant-typography">ORC Legal Documents</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat.
        </p>
        <a class="ant-btn ant-btn-primary ant-btn-lg shadow-lg" href="#demo-it">Try Demo</a>
      </div>
    </div>
    <div class="col-lg-7 pt-4">
      <img src="/assets/images/orc_main.svg" style="width: 100%;">
    </div>
  </div>
</section>
<!-- start area end -->

<!-- demo begin -->
<section id="demo-it"  class="container">
  <div>
    <h1 class="ant-typography">Try it now</h1>
  </div>
  <div class="row">
    <div class="col-lg-5">
      <app-input-area></app-input-area>
    </div>
    <div class="col-lg-7">
      <app-onput-area></app-onput-area>
    </div>
  </div>
</section>
<!-- demo end -->
