<!-- start area begin -->
<section class="container" style="min-height: 500px; margin-bottom: 40px;">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-5">
      <div class="py-5">
        <h1 class="ant-typography">GHDC</h1>
        <p>
          GHD là viết tắt của Growth – Honesty – Difference thể hiện tinh thần vươn lên mạnh mẽ trong công việc, chân
          thành thấu hiểu với khách hàng và khác biệt trong tư duy cách làm – tất cả tạo nên bản sắc riêng của đội ngũ
          GHD. Chúng tôi hiểu rằng, công ty sẽ tồn tại, phát triển liên tục và mạnh mẽ khi mọi nhân viên thấm nhuần giá
          trị cốt lõi này.
        </p>
        <a class="ant-btn ant-btn-primary ant-btn-lg shadow-lg" href="#explorer">Tiếp tục</a>
      </div>
    </div>
    <div class="col-lg-7 pt-4">
      <img src="/assets/images/splash.svg" style="width: 100%;">
    </div>
  </div>
</section>
<!-- start area end -->

<!-- introduction begin -->
<section class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <fa-icon [classes]="['my-4']" [icon]="faRobot" size="3x" [styles]="{'stroke': '#EDC3FC', 'color': '#EDC3FC'}">
      </fa-icon>
      <h2>Học máy</h2>
      <p>
        Phát triển những mô hình AI mạnh mẽ nhằm giải quyết những bài toán phức tạp mang tính đặc thù của mỗi doanh
        nghiệp
      </p>
    </div>
    <div class="col-md-4 text-center">
      <fa-icon [classes]="['my-4']" [icon]="faBraille" size="3x" [styles]="{'stroke': '#FBD4C6', 'color': '#FBD4C6'}">
      </fa-icon>
      <h2>Thị giác máy tính</h2>
      <p>
        Ứng dụng ORC - công nghệ nhận diện văn bản, hỗ trợ các doanh nghiệp giải quyết các bài toán phân loại văn bản,
        số hóa và lưu trữ.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <fa-icon [classes]="['my-4']" [icon]="faCode" size="3x" [styles]="{'stroke': '#CDF1D8', 'color': '#CDF1D8'}">
      </fa-icon>
      <h2>Thiết kế</h2>
      <p>
        Ứng dụng những công nghệ do chính chúng tôi phát triển để xây dựng hệ thống phù hợp với doanh nghiệp của bạn.
      </p>
    </div>
  </div>
  <br>
  <hr>
</section>
<!-- introduction end -->

<!-- masonry begin -->
<section id="explorer" class="container py-5">
  <div class="text-center py-3">
    <h1>Sản phẩm của chúng tôi</h1>
  </div>
  <div class="row">
    <div class="col-md-7">
      <a class="model-block" routerLink="/models/orc">
        <img src="/assets/images/orc_main.svg" alt="...">
        <div class="model-content">
          <h4 class="ant-typography" direction="ltr">ORC Legal Documents</h4>
          <div class="ant-typography" direction="ltr" style="font-size: 13px;">
            📃 Bộ nhận diện các văn bản hành chính. Hỗ trợ việc phân loại các văn bản theo Tiêu đề, Vị trí, Độ bảo
            mật,...
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-5">
      <a class="model-block sub-block" routerLink="/models/orc">
        <img src="/assets/images/orc_main.svg" alt="...">
        <div class="model-content">
          <h4 class="ant-typography" direction="ltr">Legal Documents</h4>
          <div class="ant-typography" direction="ltr" style="font-size: 13px;">
            📃 This time, we will clearly explain one of our design values--「nature」, hoping to inspire you to
            complete your own products or systems.
          </div>
        </div>
      </a>
      <a class="model-block sub-block" routerLink="/models/orc">
        <img src="/assets/images/orc_main.svg" alt="...">
        <div class="model-content">
          <h4 class="ant-typography" direction="ltr">Admintritive Documents</h4>
          <div class="ant-typography" direction="ltr" style="font-size: 13px;">
            📃 This time, we will clearly explain one of our design values--「nature」, hoping to inspire you to
            complete your own products or systems.
          </div>
        </div>
      </a>
      <a class="model-block sub-block" routerLink="/models/orc">
        <img src="/assets/images/orc_main.svg" alt="...">
        <div class="model-content">
          <h4 class="ant-typography" direction="ltr">Classify</h4>
          <div class="ant-typography" direction="ltr" style="font-size: 13px;">
            📃 This time, we will clearly explain one of our design values--「nature」, hoping to inspire you to
            complete your own products or systems.
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
<!-- masonry end -->
