<!-- start area begin -->
<section class="container" style="min-height: 500px; margin-bottom: 40px;">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-5">
      <div>
        <h1 class="ant-typography">GHDC</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat.
        </p>
        <a class="ant-btn ant-btn-primary ant-btn-lg shadow-lg" href="#explorer">Explore</a>
      </div>
    </div>
    <div class="col-lg-7 pt-4">
      <img src="/assets/images/splash.svg" style="width: 100%;">
    </div>
  </div>
</section>
<!-- start area end -->

<!-- introduction begin -->
<section class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <fa-icon [classes]="['my-4']" [icon]="faRobot" size="3x" [styles]="{'stroke': '#EDC3FC', 'color': '#EDC3FC'}" ></fa-icon>
      <h2>AI</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <fa-icon [classes]="['my-4']" [icon]="faBraille" size="3x" [styles]="{'stroke': '#FBD4C6', 'color': '#FBD4C6'}" ></fa-icon>
      <h2>CV</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <fa-icon [classes]="['my-4']" [icon]="faCode" size="3x" [styles]="{'stroke': '#CDF1D8', 'color': '#CDF1D8'}" ></fa-icon>
      <h2>CODE</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua.
      </p>
    </div>
  </div>
  <br>
  <hr>
</section>
<!-- introduction end -->

<!-- masonry begin -->
<section id="explorer" class="container py-5">
  <div class="text-center py-3">
    <h1>Take what you care from here!</h1>
  </div>
  <div class="row">
    <div class="col-md-7">
      <a class="model-block" routerLink="/models/0" >
        <img src="/assets/images/orc_main.svg" alt="...">
        <div class="model-content">
          <h4 class="ant-typography" direction="ltr" >ORC Legal Documents</h4>
          <div class="ant-typography" direction="ltr" style="font-size: 13px;">
            📃 This time, we will clearly explain one of our design values--「nature」, hoping to inspire you to
            complete your own products or systems.
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-5">
      <a class="model-block sub-block" routerLink="/models/0">
        <img src="/assets/images/orc_main.svg" alt="...">
        <div class="model-content">
          <h4 class="ant-typography" direction="ltr">Legal Documents</h4>
          <div class="ant-typography" direction="ltr" style="font-size: 13px;">
            📃 This time, we will clearly explain one of our design values--「nature」, hoping to inspire you to
            complete your own products or systems.
          </div>
        </div>
      </a>
      <a class="model-block sub-block" routerLink="/models/0">
        <img src="/assets/images/orc_main.svg" alt="...">
        <div class="model-content">
          <h4 class="ant-typography" direction="ltr">Admintritive Documents</h4>
          <div class="ant-typography" direction="ltr" style="font-size: 13px;">
            📃 This time, we will clearly explain one of our design values--「nature」, hoping to inspire you to
            complete your own products or systems.
          </div>
        </div>
      </a>
      <a class="model-block sub-block" routerLink="/models/0">
        <img src="/assets/images/orc_main.svg" alt="...">
        <div class="model-content">
          <h4 class="ant-typography" direction="ltr">Classify</h4>
          <div class="ant-typography" direction="ltr" style="font-size: 13px;">
            📃 This time, we will clearly explain one of our design values--「nature」, hoping to inspire you to
            complete your own products or systems.
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
<!-- masonry end -->
