<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a class="navbar-brand site-logo mb-3" href="/">
          <img src="/assets/images/GHDClogo3.png" alt="Công ty cổ phần GHD">
        </a>
      </div>
      <div class="col-lg-8 col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <ul class="fa-ul">
          <li>
            <span class="fa-li"><fa-icon [icon]="faAddress"></fa-icon></span>
            Tầng 6, tòa nhà HLTower, ngõ 82 Duy Tân, Dịch Vọng Hậu, Cầu Giấy, Hà Nội
          </li>
          <li>
            <span class="fa-li"><fa-icon [icon]="faEnvelope"></fa-icon></span>
            <a href="#">contact@ghdc.vn</a>
          </li>
          <li>
            <span class="fa-li"><fa-icon [icon]="faPhone"></fa-icon></span>
            <a href="#">(84-2) 462811818</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright @2020 GHDC. All rights reserved</p>
    </div>
  </div>
</footer>
