<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a class="navbar-brand site-logo mb-3" href="/">
          <img src="/assets/images/GHDClogo3.png" alt="Công ty cổ phần GHD">
        </a>
      </div>
      <div class="col-lg-8 col-md-6">
        <p>
          Công ty Cổ phần Đầu tư và Công nghệ GHD thành lập ngày 28/6/2010 có văn phòng tại tầng 6 toà nhà HL Tower, Duy
          Tân, Quận Cầu Giấy, TP Hà Nội. Trong suốt quá trình hoạt động, toàn bộ nhân viên GHD, nhà cung cấp và đối tác
          đã nỗ lực không ngừng hoàn thành sứ mệnh đối với khách hàng.
        </p>
        <p>
          GHD là viết tắt của Growth – Honesty – Difference thể hiện tinh thần vươn lên mạnh mẽ trong công việc, chân
          thành thấu hiểu với khách hàng và khác biệt trong tư duy cách làm – tất cả tạo nên bản sắc riêng của đội ngũ
          GHD. Chúng tôi hiểu rằng, công ty sẽ tồn tại, phát triển liên tục và mạnh mẽ khi mọi nhân viên thấm nhuần giá
          trị cốt lõi này.
        </p>
      </div>
      <div class="col-lg-4 col-md-6">
        <ul class="fa-ul">
          <li>
            <span class="fa-li">
              <fa-icon [icon]="faAddress"></fa-icon>
            </span>
            Tầng 6, tòa nhà HLTower, ngõ 82 Duy Tân, Dịch Vọng Hậu, Cầu Giấy, Hà Nội
          </li>
          <li>
            <span class="fa-li">
              <fa-icon [icon]="faEnvelope"></fa-icon>
            </span>
            <a href="#">contact@ghdc.vn</a>
          </li>
          <li>
            <span class="fa-li">
              <fa-icon [icon]="faPhone"></fa-icon>
            </span>
            <a href="#">(84-2) 462811818</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright @2020 GHDC. All rights reserved</p>
    </div>
  </div>
</footer>
